
@{
    //ViewBag.Title = "BrandInfo";
    //Layout = "~/Views/Shared/_SwiperLayout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/brandinfo")
<article class="indexPage">
    <header style="background-image:url(http://placehold.it/700x300/345643/000000)">
        
    </header>
    <section>
        <ul>
            <li>1</li>
            <li>2</li>
        </ul>
    </section>
    <section>
        section
    </section>
    <footer>
        Footer
    </footer>
</article>

