
@{
    //ViewBag.Title = "BrandInfo";
    //Layout = "~/Views/Shared/_SwiperLayout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/brandinfo")
@Styles.Render("~/Content/brandinfo")
<article class="indexPage">
    <header style="background-image:url(/images/product/Logical_One-red_gold_side1.jpg); position:relative">
        <div class="caption">
        </div>

        <p style="position: absolute; left: 0; right: 0;bottom: 0; width: auto; text-align: center;background-color: #bf9060;margin: 0;">
            Romain Gauthier 产品信息
        </p>

    </header>
    <section>
        <ul>
            <li>
                <div style="background-image:url(/images/images.jpg); height:100%;position:relative" class="li-item">
                    <div class="caption">
                    </div>

                    <p style="position: absolute;left: 0; right: 0;bottom: 0; width: auto; text-align: center;background-color: #bf9060;margin: 0;">
                        打磨与工艺
                    </p>

                </div>
            </li>
            <li>
                <div style="background-image:url(/images/logical_one_romain_gauthier_3.jpg); height:100%;position:relative" class="li-item">
                    <div class="caption">
                        <p>dskahdkjasdhajk</p>
                    </div>
                    <p style="position: absolute;left: 0; right: 0;bottom: 0; width: auto; text-align: center;background-color: #bf9060;margin: 0;">
                        发明与技术
                    </p>

                </div>
            </li>
        </ul>
    </section>
    <footer style="background-image: url(/images/fondContact.jpg);position:relative">
        <div class="caption">
        </div>

        <p style="position: absolute;left: 0; right: 0;bottom: 0; width: auto; text-align: center;background-color: #bf9060;margin: 0;">
            Romain Gauthier 历史
        </p>

    </footer>
    <footer style="background-image: url(/images/1385448165755.jpg);position:relative">
        <div class="caption">
        </div>

        <p style="position: absolute;left: 0; right: 0;bottom: 0; width: auto; text-align: center;background-color: #bf9060;margin: 0;">
            新闻与媒体
        </p>

    </footer>
</article>
