
@{
    // ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
<style>
    #loggedmenu a {
         text-decoration: none;
         color:#000;
    }
</style>
@Scripts.Render("~/bundles/login")
<div class="col-xs-12">
    <div class="text-center" id="logo">
        <img class="col-xs-12" src="~/images/logoRG.png"  style="width:80%"/>
    </div>
    <div class="text-center fadeImg">
        <img class="col-xs-12" style="display:none" src="~/images/35D7D27B-92C5-41C6-A2C4-2714E2E1F8E3.jpg" />
        @*<img class="col-xs-12" style="display:none" src="~/images/product/RomainGauthier_LogicalOne_Rubis_Close.jpg" />
        <img class="col-xs-12" style="display:none" src="~/images/product/RomainGauthier_LogicalOne_Rubis_Open.jpg" />*@
    </div>
    <div style="position:fixed;bottom:20px;height:60px;left:0;right:0;">
        <div class="form-horizontal" style="max-width:250px;margin:auto;display:none" id="foot">
            <div class="form-group">
                <div style="display:none" id="loggedmenu">
                    <div class="col-xs-6 text-center">
                        <a class="btn btn-metal btn-sm" href="/Home/TrainArticle">产品培训</a>
                    </div>
                    <div class="col-xs-6 text-center">
                        <a class="btn btn-metal btn-sm" href="/Home/BrandInfo">品牌信息</a>
                    </div>
                </div>
                <div id="login">
                    <div class="col-xs-9 text-center" style="padding-left: 0px; padding-right: 0px;">
                        <input type="text" data-bind="value:viewModel.Login.AuthorizationCode" placeholder="请输入授权码" class="input-romaingauthier form-control input-sm">
                    </div>
                    <div class="col-xs-3 text-left" style="padding-left: 5px; padding-right: 0px;">
                        <button type="submit" class="btn btn-metal btn-sm" data-bind="click:viewModel.Login.Submit">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>