@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/productinfo")
<style>
    html, body {
        height: 100%;
    }

    body {
        background: url(../images/fondGauthier.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<div class="container">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="~/images/product/HM_1.jpg" class="img-responsive  img-thumbnail" />
                    <hr />
                    <h3 style="text-align: center">
                        HM Red Gold
                        <div class="btn-group pull-left">
                            <a href="#" style="color:#333333 " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Diamond-Set</a></li>
                                <li><a href="#">Platinum</a></li>
                                <li><a href="#">Red Gold</a></li>
                                @*<li role="separator" class="divider"></li>*@
                                <li><a href="#">White Gold</a></li>
                            </ul>
                        </div>
                    </h3>
                    <hr />
                    <p>Aroma wings est doppio black et fair trade seasonal breve. Cortado organic coffee, single shot, roast cappuccino mocha single origin doppio. Half and half, roast, espresso roast decaffeinated aromatic, con panna froth grounds grinder sweet. Wings fair trade extraction lungo, irish cappuccino skinny saucer wings.</p>
                    <p>Ut bar medium eu, medium, con panna lungo whipped cup frappuccino. Dark crema single origin, con panna cortado eu galão crema. Organic qui and whipped espresso caramelization spoon espresso aroma. To go, whipped, con panna cream galão coffee kopi-luwak.</p>
                    <p>Single shot, blue mountain siphon, beans acerbic chicory as wings plunger pot. Foam spoon, bar trifecta redeye, id crema latte chicory strong. Percolator at ristretto, chicory dark redeye body arabica siphon. Con panna single origin, medium rich iced, aged siphon grinder con panna sweet cappuccino.</p>
                    <table class="table table-bordered table-responsive">

                        <thead>
                            <tr>
                                <th>parameter</th>
                                <th>parameter</th>
                                <th>parameter</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lorem</td>
                                <td>Lorem</td>
                                <td>Lorem</td>
                            </tr>
                            <tr>
                                <td>Lorem</td>
                                <td>Lorem</td>
                                <td>Lorem</td>
                            </tr>
                            <tr>
                                <td>Lorem</td>
                                <td>Lorem</td>
                                <td>Lorem</td>
                            </tr>
                            <tr>
                                <td>Lorem</td>
                                <td>Lorem</td>
                                <td>Lorem</td>
                            </tr>
                            <tr>
                                <td>Lorem</td>
                                <td>Lorem</td>
                                <td>Lorem</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Single origin steamed cultivar redeye grounds macchiato espresso. Milk, affogato, aged, dark arabica bar, sweet instant galão plunger pot half and half. Aged siphon, ut extra, percolator turkish aromatic eu affogato. Viennese robusta, breve a trifecta black, percolator whipped acerbic single origin affogato wings.</p>
                    <p>Dark siphon, aroma, lungo whipped dark et dark. Carajillo white shop, grounds est beans decaffeinated single origin and dark. Spoon beans extra, irish rich, mazagran aftertaste half and half bar froth mocha froth. Medium acerbic pumpkin spice, saucer foam a acerbic frappuccino medium.</p>
                    <p>Mug cream extra lungo qui kopi-luwak skinny. Breve doppio latte chicory crema est skinny. Caramelization barista qui, shop con panna, lungo spoon wings to go filter. Siphon chicory, roast doppio skinny cup americano foam.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
