html, body {
    height: 100%;
}

ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}
ul {
    height: 100%;
    display: flex;
    /*list-style: none;*/
}

li {
    height: 100%;
    flex: 1;
    /*transition: 0.5s;
    align-items: center;
    justify-content: center;*/
    /* Text Position */
    /*text-align: center;*/
     -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

li:hover {
    flex: 1;
}

@for $i from 1 through 2 {
    li:nth-child(#{$i}) {
        /*background: darken(#f00, $i * 5%);*/
    }
}

header {
    height: 40%;
    /*background: #ccc;*/
    margin: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/*header:hover {
    //background-size: 110%;
}*/

footer {
    height: 20%;
    margin: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /*background: #ccc;*/
}

/*footer:hover {
    background-size: 110%;
}*/

section {
    flex: 1;
    height: 20%;
    margin: 0;
   
    /*background: #eee;*/
}

/*section:hover {
    background-size: 100%;
}*/

article {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
