html, body {
  height: 100%; }

ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

ul {
  height: 100%;
  display: flex;
  /*list-style: none;*/ }

li {
  height: 100%;
  flex: 1;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  /* Text Position */
  text-align: center;
  /*line-height: 100px;*/
  color: #fff;
  font-size: 100px;
  font-weight: bold; }

li:hover {
  flex: 2; }

li:nth-child(1) {
  background: #e60000; }

li:nth-child(2) {
  background: #cc0000; }

header {
  height: 40%;
  background: #ccc; }

footer {
  height: 20%;
  background: #ccc; }

section {
  flex: 1;
  height: 20%;
  /*background: #eee;*/ }

article {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%; }

