html, body {
  height: 100%; }

ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

ul {
  height: 100%;
  display: flex;
  /*list-style: none;*/ }

li {
  height: 100%;
  flex: 1;
  /*transition: 0.5s;
    align-items: center;
    justify-content: center;*/
  /* Text Position */
  /*text-align: center;*/ }

li > .li-item {
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }

/*li:hover {
    flex: 1;
}*/
li:nth-child(1) {
  /*background: darken(#f00, $i * 5%);*/ }

li:nth-child(2) {
  /*background: darken(#f00, $i * 5%);*/ }

header {
  height: 40%;
  /*background: #ccc;*/
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }

/*header:hover {
    //background-size: 110%;
}*/
footer {
  height: 20%;
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /*background: #ccc;*/ }

/*footer:hover {
    background-size: 110%;
}*/
section {
  flex: 1;
  height: 20%;
  margin: 0;
  /*background: #eee;*/ }

/*section:hover {
    background-size: 100%;
}*/
article {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%; }

.caption {
  height: 100%;
  width: auto;
  position: relative;
  background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
  display: none;
  text-align: center;
  color: #fff !important;
  z-index: 2; }

.item-container {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%; }

.item-inner-container {
  display: table-cell;
  vertical-align: middle; }

.item-inner-container a {
  padding: 10px;
  color: #fff;
  text-decoration: none; }

.collectionButton a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  background: #bf9060 none repeat scroll 0 0;
  padding: 8px 15px;
  text-transform: uppercase;
  border-radius: 3px; }

