
@{
    ViewBag.Title = "Admin";
}
<div class="row" style="padding-top: 25px;">
    <div class="col-md-12">
        <a class="btn btn-default" href="/admin/trainarticle">培训管理</a>
        <a class="btn btn-default" href="/admin/news/">新闻管理</a>
        <a class="btn btn-default" href="/admin/personnelgroup/">权限组管理</a>
        <a class="btn btn-default" href="/admin/personnel/">人员管理</a>
        <a class="btn btn-default" href="/admin/product">产品管理</a>
        <a class="btn btn-default" href="/admin/file">资料管理</a>
    </div>
</div>
