
@{
    ViewBag.Title = "Admin";
}
<div class="row" style="padding-top: 25px;">
    <div class="col-md-12">
        <a class="btn btn-default" href="#" role="button">培训管理</a>
        <a class="btn btn-default" href="/admin/news/" target="_blank">新闻管理</a>
        <a class="btn btn-default" href="#" role="button">人员管理</a>
    </div>
</div>
