
@{
    ViewBag.Title = "TrainingScoring";
}
@Scripts.Render("~/bundles/admin-trainingscoring")

<div class="row" style="padding-top: 25px;">
    <div class="panel panel-default">
        <div class="panel-heading">培训成绩</div>
        <div class="panel-body">
            @*<div class="form-horizontal" style="max-width: 350px; margin: 0 auto">
                    <div class="form-group">
                        <label class="col-md-2 control-label">姓名</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="Name" data-bind="value:viewModel.item.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Email</label>
                        <div class="col-md-10">
                            <input type="email" class="form-control" placeholder="Email" data-bind="value:viewModel.item.Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Phone</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" placeholder="Phone" data-bind="value:viewModel.item.PhoneNum">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">权限组</label>
                        <div class="col-md-9" data-bind="foreach:viewModel.PersonnelGroups">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-bind="checkedValue: $data, checked: Personnel.viewModel.ChosenPersonnelGroups" />
                                    <span data-bind="text: Name"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-default" data-bind="click:Personnel.viewModel.Save">保存</button>
                        <button type="button" class="btn btn-default" data-bind="click:Personnel.viewModel.Cannel">取消</button>
                    </div>
                </div>*@
        </div>
        <!-- Table -->
        <table class="table table-striped" data-bind="visible:viewModel.Items().length!=0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>姓名</th>
                    <th>培训主题</th>
                    <th>分数</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:viewModel.Items">
                <tr>
                    <td data-bind="text:$index"></td>
                    <td data-bind="text:PersonnelModel.Name"></td>
                    <td data-bind="text:TrainArticleTitle"></td>
                    <td>
                        <a href="#" data-bind="text:SumScore,click:TrainingScoring.viewModel.ShowDetail"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modal fade" id="Detail">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">详细</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-6">题目</th>
                                    <th class="col-md-4">回答</th>
                                    <th class="col-md-1">对错</th>
                                    <th class="col-md-1">得分</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:viewModel.Details">
                                <tr>
                                    <td data-bind="text:Question"></td>
                                    <td data-bind="text:Answer"></td>
                                    <td data-bind="text:IsCorrect()?'对':'错'"></td>
                                    <td data-bind="text:Score"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>                        
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>

